@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&family=Kanit:wght@200;300;400;600&family=Merriweather:ital,wght@0,300;0,400;0,700;1,400&family=Sora:wght@200;300;400;500&family=Yanone+Kaffeesatz&display=swap');

*{
  margin: 0;
  padding: 0;
}
.home{
  background-color: #E9E7E3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2px;
  height: 100vh;
}

.content{
  text-align: center;
  margin-right: 60%;
  font-family: 'Merriweather';
}

.content h1{
  font-family: 'Sora';
}

.content span{
  color: #774e24;
}

.navbar {
  background-color: #6f1d1b;
  padding: 10px;
}

.navbar img{
  margin-right: 1%;
  cursor: pointer;
}
    
  .navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
    
.navbar li {
  margin-right: 20px;
}
    
.navbar li a {
  font-family: 'sora';
  font-weight: 300;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
}

.sobre-mim{
  background-color: #dbc89e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px; 
  height: 100vh;
}

.foto img{
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.descricao{
  padding: 40px;
}

.descricao h2{
  font-family: 'sora';
}

.descricao p{
  font-family: 'Merriweather';
}

.descricao span{
  color: #66401a;
}

.portfolio{
  background-color: #b08968;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2px; 
  height: 100vh;
}

.portfolio h1{
  font-family: 'sora';
}

.item1{
  background-color: #E9E7E3;
  justify-content: center;
  align-items: center;
  padding-top: 130px;
  height: 100vh;
  font-family:'sora';
  padding-left: 120px;
  font-size: 30px;
}

.item1 img{
  padding-top: 20px;
}

.item2{
  background-color: #dbc89e;
  justify-content: center;
  align-items: center;
  padding-top: 130px;
  height: 100vh;
  font-family:'sora';
  padding-left: 120px;
  font-size: 30px;
}

.item2 img{
  padding-top: 20px;
}

.item3{
  background-color: #E9E7E3;
  justify-content: center;
  align-items: center;
  padding-top: 130px;
  height: 100vh;
  font-family:'sora';
  padding-left: 120px;
  font-size: 30px;
}

.item3 img{
  padding-top: 20px;
}

.item4{
  background-color: #dbc89e;
  justify-content: center;
  align-items: center;
  padding-top: 130px;
  height: 100vh;
  font-family:'sora';
  padding-left: 120px;
  font-size: 30px;
}

.item4 img{
  padding-top: 20px;
}

.item5{
  background-color: #E9E7E3;
  justify-content: center;
  align-items: center;
  padding-top: 130px;
  height: 100vh;
  font-family:'sora';
  padding-left: 120px;
  font-size: 30px;
}

.item5 img{
  padding-top: 110px;
  padding-left: 600px;
}

.item6{
  background-color: #dbc89e;
  justify-content: center;
  align-items: center;
  padding-top: 130px;
  height: 100vh;
  font-family:'sora';
  padding-left: 120px;
  font-size: 30px;
}

.item6 img{
  padding-top: 20px;
}

.item7{
  background-color: #E9E7E3;
  justify-content: center;
  align-items: center;
  padding-top: 130px;
  height: 100vh;
  font-family:'sora';
  padding-left: 120px;
  font-size: 30px;
}

.item7 img{
  padding-top: 20px;
}

.item8{
  background-color: #dbc89e;
  justify-content: center;
  align-items: center;
  padding-top: 130px;
  height: 100vh;
  font-family:'sora';
  padding-left: 120px;
  font-size: 30px;
}

.item8 img{
  padding-top: 20px;
}

.item9{
  background-color: #E9E7E3;
  justify-content: center;
  align-items: center;
  padding-top: 130px;
  height: 100vh;
  font-family:'sora';
  padding-left: 120px;
  font-size: 30px;
}

.item9 img{
  padding-top: 20px;
}